.browse-card {
    width: 25%;
    height: 400px;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

    .browse-card img {
        height: 300px;
        margin-block: -10px;
    }

    .browse-card .watch-link {
        text-decoration: none;
        color: black;
        border: solid 2px black;
        padding: 2px;
        padding-inline: 6px;
        border-radius: 6px;
    }